.navbar {
    margin-bottom: 0;
    background-color: #2d3f56!important;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.jumbotron { 
    background-color: #364B66; 
    color: #ffffff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

.logo-small {
    color: #fff;
    font-size: 50px;
}

.logo {
    color: #fff;
    font-size: 200px;
}

.bg-grey {
    background-color: #f6f6f6;
}